// Common

.float-right{
    float: right;
}


.float-left{
    float: left;
}



.layout{
 	font-family: 'trocchiregular',sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	background-color: white;
	border: 1px solid red;

	.header{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height:8%;
		padding: 0 1%;
		border: 1px solid red;
	}

	.main-content{
		height: 86%;
		margin: 2% 4%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border: 1px solid blue;
		
		@import './../navbar/navbar.scss';
		@import './../carousel/carousel.scss';

		.content-space{
			width: 90%;
	    	height: 80%;
    	    max-height: 90%;
    		overflow: auto;
			display: flex;
		    justify-content: center;
		    margin: 1%;
		    align-items: center;
		    padding:  1% 2%
		}

	}

.footer{
	height: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid cyan;
	background-color: cyan;
	}

}
