.carousel{
		height: 50%;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid green;
		/*background-color: green;*/

		img{
		height: 80%;
		}

		// .carousel-image{
		// 	display:none
		// }

		// .carousel-image:first{
		// 	display:block
		// }

	}